.service-div {
    position: relative;
    top: 100px;
    left: 0;
    width: 100%;
    height: max-content;
    margin-top: 50px;
}

.service-title {
    position: relative;
    top: 0;
    left: 5%;
    width: 90%;
    height: max-content;
    font-size: 30px;
    font-family: "Aleo";
    font-weight: bold;
    color: #EFC456;
    padding: 0;
    margin: 0;
}

.service-description {
    position: relative;
    top: 0;
    left: 5%;
    width: 90%;
    height: max-content;
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    color: #E5F9FF;
    padding: 0;
    margin: 0;
}

.service-image {
    position: relative;
    top: 0;
    left: calc(100% - 600px);
    width: 600px;
    height: 400px;
    margin-top: 50px;
    background-color: #E5F9FF;
}

@media screen and (max-width: 660px) {
    .service-image {
        position: relative;
        top: 0;
        left: calc(100% - 400px);
        width: 400px;
        height: 300px;
        margin-top: 50px;
        background-color: #E5F9FF;
    }
}

@media screen and (max-width: 420px) {
    .service-image {
        position: relative;
        top: 0;
        left: calc(100% - 300px);
        width: 300px;
        height: 300px;
        margin-top: 50px;
        background-color: #E5F9FF;
    }
}

@media screen and (max-width: 320px) {
    .service-image {
        position: relative;
        top: 0;
        left: calc(100% - 250px);
        width: 250px;
        height: 250px;
        margin-top: 50px;
        background-color: #E5F9FF;
    }
}