{% extends 'layout.html' %}
{% load static %}

{% block title %}
Sunwine Hotel Gallery - Photos of Our Batumi Hotel
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}" />
{% endblock %}

{% block body %}
    <div class="part1">
        <h1 class="title1">Sun Wine Gallery</h1>
        <h1 class="title2">Welcome to our sweet, sweet, hotel “Sun Wine Hotel” </h1>
    </div>

    <div class="part2">
        <img src="{{ gallery.image1.url }}" alt="" class="image1">
        <img src="{{ gallery.image2.url }}" alt="" class="image2">
        <img src="{{ gallery.image3.url }}" alt="" class="image3">
        <img src="{{ gallery.image4.url }}" alt="" class="image4">
        <div class="part2-div1">
            <img src="{{ gallery.image5.url }}" alt="" class="image5">
            <img src="{{ gallery.image6.url }}" alt="" class="image6">
            <img src="{{ gallery.image7.url }}" alt="" class="image7">
        </div>
        <img src="{{ gallery.image8.url }}" alt="" class="image8">
    </div>
{% endblock %}