{% extends 'layout.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block body %}
    <div class="part1">
        <h1 class="title1">Sun Wine Gallery</h1>
        <h1 class="title2">Register to book now </h1>
    </div>

    <form class="part2" action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <input type="email" name="email" id="" class="input1" placeholder="Enter email here">
        <input type="text" name="full_name" id="" class="input1" placeholder="Enter full name here">
        <input type="number" name="phone_number" id="" class="input1" placeholder="Enter phone number here">
        <input type="password" name="password" id="" class="input1" placeholder="Enter password here">
        <input type="submit" name="" id="" class="submit1">
        <a href="{% url 'login' %}" class="already1">already have an acoount? Login here</a>
    </form>
{% endblock %}