{% extends 'layout.html' %}
{% load static %}

{% block title %}
{{ room.room_title }} | Sunwine Hotel Batumi, Makhinjauri
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/booking.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/room.css' %}" />
{% endblock %}

{% block body %}
    <form method="post" action="{% url 'room' room.id %}">
        {% csrf_token %}
        <div class="part1">
            <h1 class="title1">Sunwine Hotel</h1>
        </div>

        <div class="part2">
            <div class="search">
                <div class="search-inside">
                    <div class="field-group">
                    <label>Check-in</label>
                    <input type="date" name="check-in" id="check-in" required>
                    </div>
                    <div class="field-group">
                    <label>Check-out</label>
                    <input type="date" name="check-out" id="check-out" required>
                    </div>
                    <div class="field-group">
                    <label>Guests</label>
                    <select name="guests" required>
                        <option value="1-0">1 Adult, 0 Kids</option>
                        <option value="1-1">1 Adult, 1 Kid</option>
                        <option value="1-2">1 Adult, 2 Kids</option>
                        <option value="1-3">1 Adult, 3 Kids</option>
                        <option value="1-4">1 Adult, 4 Kids</option>

                        <option value="2-0">2 Adults, 0 Kids</option>
                        <option value="2-1">2 Adults, 1 Kid</option>
                        <option value="2-2">2 Adults, 2 Kids</option>
                        <option value="2-3">2 Adults, 3 Kids</option>

                        <option value="3-0">3 Adults, 0 Kids</option>
                        <option value="3-1">3 Adults, 1 Kid</option>
                        <option value="3-2">3 Adults, 2 Kids</option>

                        <option value="4-0">4 Adults, 0 Kids</option>
                        <option value="4-1">4 Adults, 1 Kid</option>

                        <option value="5-0">5 Adults, 0 Kids</option>
                    </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="part3">
            {% if room.image1 != '' %}
                <img src="{{ room.image1.url }}" alt="" class="part3-image">
            {% else %}
                <img src="" alt="" class="part3-image">
            {% endif %}
                
            <div class="part3-div1">
                <h1 class="p3-title1">{{ room.room_title }}</h1>

                <h1 class="p3-title2">Persons: {{ room.items }}</h1>
                <h1 class="p3-title2">Bed: {{ room.bed }}</h1>
                <h1 class="p3-title2">Storage: {{ room.storage }}</h1>
                <h1 class="p3-title2">Balcony: {{ room.balcony }}</h1>
                <h1 class="p3-title2">Items: {{ room.items }}</h1>
                <h1 class="p3-title2">Bathroom: {{ room.bathroom }}</h1>
                <h1 class="p3-title2">TV: {{ room.tv }}</h1>
                <h1 class="p3-title2">Fridge: {{ room.fridge }}</h1>
                <h1 class="p3-title2">Square perimeter: {{ room.kvadratuloba }}</h1>

                    
                <button class="p3-button">Check in the room</button>
            </div>
        </div>
            
        <h1 class="part3-description">{{ room.description }}</h1>

        <div class="part4">
            {% if room.image1 != '' %}
                <img src="{{ room.image2.url }}" alt="" class="p4-image1">
                <img src="{{ room.image3.url }}" alt="" class="p4-image2">
                <img src="{{ room.image4.url }}" alt="" class="p4-image3">
            {% else %}
                <img src="" alt="" class="p4-image1">
                <img src="" alt="" class="p4-image2">
                <img src="" alt="" class="p4-image3">
            {% endif %}
        </div>
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const checkIn = document.getElementById("check-in");
        const checkOut = document.getElementById("check-out");

        const today = new Date();
        const oneMonthLater = new Date();
        oneMonthLater.setMonth(oneMonthLater.getMonth() + 1);

        // Format to yyyy-mm-dd
        const formatDate = (date) => {
            return date.toISOString().split('T')[0];
        };

        checkIn.min = formatDate(today);
        checkIn.max = formatDate(oneMonthLater);
        checkOut.min = formatDate(today);
        checkOut.max = formatDate(oneMonthLater);

        // Ensure check-out is always after check-in
        checkIn.addEventListener("change", () => {
            const selectedDate = new Date(checkIn.value);
            selectedDate.setDate(selectedDate.getDate() + 1);
            checkOut.min = formatDate(selectedDate);
        });
    });
    </script>
{% endblock %}